@{
    ViewData["Title"] = "AllMovies";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>모든 영화들 나열. 영화 attribute들 전부.<br/>
    영화 클릭하면 나오는 것<br/>
    -구매하기<br />
    -대여하기<br />
    -한줄평 리스트<br />
</p>
