<h2>@ViewData["Title"]</h2>
@{
    if (ViewData["Result"] != null)
    {
        if (ViewData["Result"].Equals(true))
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>충전 성공!</strong>
            </div>
        }
        else
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>충전 실패</strong>
            </div>
        }
    }
}

<form asp-controller="Home" asp-action="doCharge" method="post">
    <div class="input-group" style="width: auto">
        <table class="table">
            <tr>
                <td><h4>금액: </h4></td>
                <td><input type="text" class="form-control" name="price" aria-label="Amount" placeholder="0"></td>
                <td><button type="submit" class="btn btn-primary">충전</button></td>
            </tr>
        </table>
    </div>
</form>