
@{

}
<div class="page-header"><h1>글 작성</h1></div>
<hr />
<form method="post" action="AddArticle">
    <div class="form-group" width="100%">
        <label>제목</label>
        <input type="text" id="title" name="title" class="form-control" aria-describedby="basic-addon3">
    </div>
    <div class="form-group" width="100%">
        <label>내용</label>
        <textarea id="context" name="context" rows="10" cols="40" class="form-control" aria-label="내용"></textarea>
    </div>
    <button type="submit" class="btn btn-default">글 작성</button>
</form>